[submodule "server/jsoncpp"]
	path = server/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git

[submodule "server/ada"]
	path = server/ada
	url = https://github.com/ada-url/ada.git

[submodule "server/inifile"]
	path = server/inifile
	url = https://github.com/Rookfighter/inifile-cpp.git
[submodule "server/hiredis"]
	path = server/hiredis
	url = https://github.com/redis/hiredis.git
